@model IEnumerable<mvc_app5.Models.OurService>



<div class="spa-agile">
    <h3 class="tittle fea">Featured Services</h3>
    @foreach (var item in Model)
    {
        <div class="col-md-3 spa-grid">

            <i class="fa fa-asl-interpreting" aria-hidden="true"></i>

            <h4>@item.Title </h4>

        </div>
    }
    <div class="clearfix"> </div>
</div>